<!DOCTYPE html>
<html$if(lang)$ lang="$lang$"$endif$>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
$if(published)$
  <meta name="author" content="$author$">
$endif$
$if(published)$
  <meta name="published" content="$published$">
$endif$
$if(updated)$
  <meta name="updated" content="$updated$">
$endif$
  <title>$if(booktitle)$$booktitle$ - $endif$$title$</title>
  <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
  <script src="assets/js/default.js" type="text/javascript"></script>
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon32.png" />
  <link rel="icon" type="image/png" sizes="64x64" href="assets/images/favicon64.png" />
</head>

<body>
  <div id="book" class="book font-size-1 font-family-1">
    <div class="book-header">
      <!-- Actions Left -->
      <a id="toggle-summary" class="btn pull-left " aria-label="Toggle summary"><i class="fa fa-bars"></i></a>
      <div id="font-settings-wrapper">
        <a id="toggle-font-settings" class="btn pull-left " aria-label="Toggle font settings"><i class="fa fa-font"></i>
        </a>
        <div id="font-settings-dropdown" class="dropdown-menu ">
          <div class="dropdown-caret">
            <span class="caret-outer"></span>
            <span class="caret-inner"></span>
          </div>
          <div class="btn-group btn-block">
            <button id="reduce-font-size" class="btn btn-default">A</button>
            <button id="enlarge-font-size" class="btn btn-default">A</button>
          </div>
          <ul class="list-group font-family-list">
            <li id="serif" class="list-group-item serif">Serif</li>
            <li id="sans" class="list-group-item sans">Sans</li>
          </ul>
          <div class="btn-group btn-group-xs btn-block color-theme-list">
            <button type="button" class="btn btn-default" id="color-theme-preview-0">White</button>
            <button type="button" class="btn btn-default" id="color-theme-preview-1">Sepia</button>
            <button type="button" class="btn btn-default" id="color-theme-preview-2">Night</button>
          </div>
        </div>
      </div>
      <!-- Actions Right -->
      <a href="feed.xml" target="_blank" class="btn pull-right" aria-label="rss feed"><i class="fa fa-rss"></i></a>
      <!-- Title -->
      <h1>
        <a href="index.html">$booktitle$</a>
      </h1>
    </div> <!-- END class="book-header" -->

    <div id="book-summary" class="book-summary">
      <ul class="summary">
$if(link1)$
        <li><a href="$link1$">$linktext1$</a></li>
$endif$
$if(link2)$
        <li><a href="$link2$">$linktext2$</a></li>
$endif$
        <li class="divider"></li>
<!-- BEGIN toc -->
        <li class="divider"></li>
      </ul>
    </div> <!-- END class="book-summary" -->

    <div id="book-body" class="book-body">
      <div class="book-body-scroll">
        <div class="book-body-content">
          <h1 class="page-title">$title$</h1>
$if(subtitle)$
          <h1 class="page-subtitle">$subtitle$</h1>
$endif$
$body$
        </div>
      </div>
      <div class="page-nav">
<!-- BEGIN page-nav -->
      </div>
    </div> <!--  END class="book-body" -->
  </div> <!--  END class="book" -->
</body>
</html>
